<h1>Editing Cleaner</h1>

<%= render 'form', cleaner: @cleaner %>

<nav aria-label="...">
  <ul class="pager">
    <li class="previous"><%= link_to 'Back', cleaners_path %></li>
    <li class="previous"><%= link_to 'Show', @cleaner %></li>
  </ul>
</nav>
