<h1>New Cleaner</h1>

<%= render 'form', cleaner: @cleaner %>

<nav aria-label="...">
  <ul class="pager">
    <li class="previous">
      <%= link_to 'Back', cleaners_path %>
    </li>
  </ul>
</nav>
