<h1>New Booking</h1>

<%= render 'form', booking: @booking %>

<nav aria-label="...">
  <ul class="pager">
    <li class="previous">
      <a href="/bookings"><span aria-hidden="true">&larr;</span> Back</a>
    </li>
  </ul>
</nav>
