<h1>Editing Customer</h1>

<%= render 'form', customer: @customer %>

<nav aria-label="...">
  <ul class="pager">
    <li class="previous"><%= link_to 'Back', customers_path %></li>
    <li class="previous"><%= link_to 'Show', @customer %></li>
  </ul>
</nav>
