<h1>New Custome Booking</h1>

<%= render 'form', custome_booking: @custome_booking %>

<nav aria-label="...">
  <ul class="pager">
    <li class="previous">
      <%= link_to 'Back', custome_bookings_path %>
    </li>
  </ul>
</nav>
